<ion-view view-title="Medical Contacts">
  <ion-content>
    <div class="row responsive-sm">
      <button class="button button-full button-positive">
        My Doctors
      </button>
      <button class="button button-full button-positive">
        Rare Genomics Inst., DNA testing
      </button>
      <button class="button button-full button-positive">
        Scientific Consult.
      </button>
      <button class="button button-full button-positive">
        Find a Clinical Research Center
      </button>
    </div>
  </ion-content>
</ion-view>